%flexrow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

%flexcol {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@mixin flexbox($orientation:null, $wrap:null, $align:null, $justify:null) {

  display: flex;

  @if $orientation != null {
    flex-direction: $orientation;
  } @else {
    flex-direction: column;
  }

  @if $wrap != null {
    flex-wrap: $wrap;
  } @else {
    flex-wrap: nowrap;
  }

  @if $justify != null {
    justify-content: $justify;
  } @else {
    justify-content: flex-start;
  }

  @if $align != null {
    align-items: $align;
  } @else {
    align-items: flex-start;
  }

}

@mixin push--auto {
  margin: { 
      left: auto;
      right: auto;
  }
}

